*,
*:after,
*:before {
    box-sizing: border-box;
}

a {text-decoration:none}

#seismic_title{
	display:block;
	color:white;
	font-family:'Lato';
	font-size:35px;
	float:left;
	position:absolute;
	margin-top:20px;
	margin-left:-300px;
}

#navigator{
	text-decoration: none;
	opacity:0.5;
	font-size:47px;
	color:#FF2B32;
	
	margin-top:13px;
	position:fixed;
	margin-left:95%;
}

#textInput{
	width:35px;
	height:25px;
}

#super_left_container{
	width:300px;
	margin-top:100px;
	margin-left:50px;
	position:absolute;
}
#centered_damper_content{
	margin-left:435px;
	margin-top:140px;
	width:400px;
	position:absolute;
}

.basic_form{
	color:white;
	background:rgba(0,0,0,0.3);
	overflow:hidden;
	top:11%;
	width:1300px;
	margin-top:5px;
	margin-left:-300px;
	height:530px;
	position:absolute;
	padding:30px;
}

#dd{
	z-index:2;
	width:100%;
	float:left;
	position:relative;
	
	margin-top:-50px;
}

#ff{
	z-index:0;
	width:100%;
	float:left;
	position:relative;
}


#gg{
	top:-50px;
	width:100%;
	float:right;
	position:relative;
	margin-right: 2%;
}



#ll{ /*Currently not being used*/
	z-index:0;
	top:10px;
	left:-200px;
	float:left;
	position:relative;
}

#hh{
	z-index:1;
	top:10px;
	float:left;
	left:-175px;
	position:relative;
}





.button{
	 /* Size and position */
    width: 200px;
    padding: 10px;
	/*margin: 0 auto;*/

    /* Styles */
    background: #fff;
    border-radius: 0px;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px rgba(50,50,50,0.1);
    cursor: pointer;
    outline: none;

    /* Font settings */
    font-weight: bold;
    color: #FF2B32;	
}


.wrapper-dropdown-3 {
    /* Size and position */
    position: relative;
    width: 200px;
    margin: 0 auto;
    padding: 10px;

    /* Styles */
    background: #fff;
    border-radius: 0px;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px rgba(50,50,50,0.1);
    cursor: pointer;
    outline: none;

    /* Font settings */
    font-weight: bold;
    color: #FF2B32;
}

.wrapper-dropdown-3:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #FF2B32 transparent; /*Arrow colour!*/
}

.wrapper-dropdown-3 .dropdown {
  /* Size & position */
    position: absolute;
    top: 140%;
    left: 0;
    right: 0;

    /* Styles */
    background: white;
    border-radius: inherit;
    border: 1px solid rgba(0,0,0,0.17);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    font-weight: normal;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    list-style: none;

    /* Hiding */
    opacity: 0;
    pointer-events: none;
}

.wrapper-dropdown-3 .dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 15px;
    border-width: 0 6px 6px 6px;
    border-style: solid;
    border-color: #fff transparent;    
}

.wrapper-dropdown-3 .dropdown:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 13px;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: rgba(0,0,0,0.1) transparent;    
}

.wrapper-dropdown-3 .dropdown li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #FF2B32;
    border-bottom: 1px solid #e6e8ea;
    box-shadow: inset 0 1px 0 rgba(255,255,255,1);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.wrapper-dropdown-3 .dropdown li i {
    float: right;
    color: inherit;
}

.wrapper-dropdown-3 .dropdown li:first-of-type a {
    border-radius: 7px 7px 0 0;
}

.wrapper-dropdown-3 .dropdown li:last-of-type a {
    border: none;
    border-radius: 0 0 7px 7px;
}

/* Hover state */

.wrapper-dropdown-3 .dropdown li:hover a {
    background: #f3f8f8;
}

/* Active state */

.wrapper-dropdown-3.active .dropdown {
    opacity: 1;
    pointer-events: auto;
}

/* No CSS3 support */

.no-opacity       .wrapper-dropdown-3 .dropdown,
.no-pointerevents .wrapper-dropdown-3 .dropdown {
    display: none;
    opacity: 1; /* If opacity support but no pointer-events support */
    pointer-events: auto; /* If pointer-events support but no pointer-events support */
}

.no-opacity       .wrapper-dropdown-3.active .dropdown,
.no-pointerevents .wrapper-dropdown-3.active .dropdown {
    display: block;
}

.dd_form_align{
	margin-left:16px;
	position:absolute;
}

#dev_block{
	text-align:center;
	top:45%;
	height:50%;
	width:60%;
	left:19%;
	color:black;
	margin:0 auto;
	/*background:yellow;*/
	position:absolute;
	display:block;
	
}

#text-inputs-American{
	top:10px;
	margin-right:-200px;
	float:right;
	position:relative;
	display:none; /*Hides the input parameters until toggled by JS script*/
}

#province_pos{
	
	display:inline-block;
}

#city_pos{
	
	float:right;
	display:inline-block;

}

#Tf_spinners{
	height:110px;
}

#Tf_inputs{
	float:left;
	margin-left:45%;
}

#Vf_spinners{
	height:110px;
}

#Vf_inputs{
	float:left;	
	margin-left:45%;
}



.text-labels{
		/*color:?????*/
}

input[type=number] {
	  color:#FF2B32;
      font-size: 90%; 
      padding: 0px;
      height: 20px; 
      margin: 5px;
      width: 50px;
      height: 35px;
}

#generate_pos{
	top:50px;
	text-align:center;
	width:200px !important;
	margin:0 auto !important;
	position:relative;
}

#elastic_period{
	margin-top:10px;
	margin-right:3%;
	min-width:200px;
	height:500px;
	float:right;
	position:relative;
}


#generate2_pos{
	text-align:center;
	margin:0 auto;
	position:relative;
}

#hyster_damper{
	min-width:200px;
	margin-top:-100px;

	display:none;
}

#visco_damper{
	min-width:200px;
	margin-top:-100px;

	display:none;
}
	
#damper_options{
	width:300px;
	/*background:yellow;*/
}