*,
*:after,
*:before {
    box-sizing: border-box;
}

a {text-decoration:none}
		
/*Graph options*/		
.tickLabel {color:white ;}
.legendLabel{color:white;}
		
.alert{
	display:none;
}
		
#seismic_title{
	display:block;
	color:white;
	font-family:'Lato';
	font-size:40px;
	float:left;
	position:fixed;
	margin-top:-75px;
}


.basic_form{
	color:white;
	background:rgba(0,0,0,0.3);
	overflow-y:auto;
	top:11%;
	width:1300px;
	margin-top:5px;
	margin-left:-300px;
	min-height:530px;/*ADD THIS TO EVERYTHING ELSE!*/
	height:auto;
	position:absolute;
	padding:30px;
}

#navigator{
	text-decoration: none;color:#FF2B32; opacity:0.7;
}

#bldg_specs
{
	width:200px;
	float:left;
	margin-left:5%;
}
			
#bldg_target{
	width:200px;
	float:left;
	/*margin-right:15%;*/
	margin-left:1%;
}

.custom_label{
	font-family:'Lato';
	font-size:2em;
	text-align:center;
}


.floor_mass{
	width:70px;
	margin-left:205px;
	margin-top:-25px;
	height:30px !important;
}

#contacts{
	float:right;
}

th {
	background-color: rgba(255, 255, 255, 0.1);
	border: solid 1px rgba(0, 0, 0, 0.1);
	padding: 10px 10px;
	text-align: center;
	font-weight: bold;
	color: red;
}

td {
	padding: 10px 10px;
	text-align:center;
	border: solid 1px rgba(0, 0, 0, 0.1);
}


