	@font-face
	{
		font-family:Futura;
		src:url('fonts/Futura-Bold.ttf');
	}



 /* Sticky footer styles
      -------------------------------------------------- */
	 
      html,
      body {
        height: 100%;
        /* The html and body elements cannot have any padding or margin. */
		background-size:cover;
		background-repeat:repeat;
		background-image:url('img/newbg.png');
      }
	  
	  a {text-decoration:none}


	  h1{
		text-align:center;
		font-size:52px;
	  }
	  
	  #nav_bar{
		margin-top:4%;
		width: 680px;
		height:500px;
		margin-left:auto;margin-right:auto;
		position:absolute;overflow:hidden;
	  }
	  
	  #about_block{
		float:right;
		height:510px; /*MAKE THIS AUTOMATIC AT SOME POINT!*/
		background:rgba(0,0,0,0.4);
		position:relative;
		left:10px; /*Spacing in between elements*/
		padding:25px;
	  }
	  
	  #about_text{
		font-family:'Lato';
		font-weight:100;
		font-size:32px;
		line-height:2.5;
		text-align:left;
		color:white;
		position:relative;
	  }
	  
	  .red{
		color:#fe2b32;
	  }
	  
	  #left_container{
		width: 250px;
		height:100%;
		float:left;
		position:relative;
	  }
	  
	  #right_container{
		width:430px;
		height:100%;
		float:right;
		position:relative;
	  }
	  
	  #white_logo{
		width:100%;
		height:50%;
		position: relative;
		background: rgba(254, 43, 50, 0.5);
		float:left;
	  }
	  
	  #begin_icon{
		top:10px;
		float:left;
		width:250px;
		height:250px;
		position:relative;
		color:white;
		background: rgba(254, 43, 50, 0.5);
	  }

	  
	  #begin_symbol_container{
		top:30%;
		left:22%;
		width:60%;
		text-align:left;
		padding-bottom:15px;
		border-bottom-style:solid;
		border-width:thin;
		position:relative;
	  }
	  
	  #begin_symbol{
		font-size:40px;
		left:36%;
		position:relative;
	  }
	  
	  #begin_text{
	  
		font-family:'Futura';
		top:95px;
	    text-align:center;
		position:relative;
		font-size:13px;
	  }
	 
	  #text_banner{
		color:white;
		font-family: Futura;
		border-top-style:2px solid;
		padding-top:15px;
		border-bottom-style:2px solid;
		padding-bottom:15px;
		top:41%;right:30%; /*Three spaces: 41 and 27*/
		font-size:15px;	
		display:inline-block;
		position:absolute;		
	  }
	  
	  #about_link{
		font-size:13px;
		font-family:'Futura';
		/*Increasing clickable area*/
		padding:15px;
		/*Weirdly positioning it at the center. Fix the weird positioning stuff later*/
		bottom:-12px;
		right:-33%;
		
		text-decoration:none;
		position:relative;
	  }
	  
	  #about_link:hover{
		color:#FF141C;
		text-decoration:none;
	  }
	  
      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -26px;
      }
		
      /* Set the fixed height of the footer here */
      #push,
      #footer {
		font-family:'Futura';
		text-align:center;
        height: 26px;
      }
      #footer {
    border-top:solid 1px #fe2b32;
    background: rgba(254, 43, 50, 0.5);
    z-index:2;
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
}

      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
		  
		  
        }
      }



      /* Custom page CSS
      -------------------------------------------------- */
      /* Not required for template or sticky footer method. */

      .container {
        width: auto;
		
        max-width: 680px;
      }
      .container .credit {
        margin: 3px 0;
      }
